@import "tailwindcss";


body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 70%;
  margin: auto;
}

.filters button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.blog-list {
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.category {
  font-size: 12px;
  color: #555;
}
